image: docker:latest

services:
  - docker:dind

stages:
  - test
  - publish
  # deploy

before_script:
  - apk update
  - apk add make docker-compose

test:
  stage: test
  script:
    - make test

publish_backend:
  stage: publish
  script:
    - docker-compose build backend-go
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker image tag zillow-scraper_backend-go $CI_REGISTRY_IMAGE/backend-go:$CI_COMMIT_SHORT_SHA
    - docker image push $CI_REGISTRY_IMAGE/backend-go:$CI_COMMIT_SHORT_SHA
    - docker image tag zillow-scraper_backend-go $CI_REGISTRY_IMAGE/backend-go:lastest
    - docker image push $CI_REGISTRY_IMAGE/backend-go:latest

publish_chrome_app:
  stage: publish
  script:
    - docker-compose run --no-deps -w /usr/local/src chrome-app sh -c "npm install && npm run build"
  artifacts:
    untracked: false
    expire_in: 30 days
    paths:
      - chrome-react-app/build
