image: docker:latest

services:
  - docker:dind

before_script:
  - apk update && apk add make docker-compose

show_build_fs:
  stage: build
  script:
    - ls chrome-react-app

build_backend:
  stage: build
  script:
    - docker-compose build backend-go

build_chrome_app:
  stage: build
  script:
    - make install && docker-compose run -w /usr/local/src chrome-app npm run build

# test_backend:
#   stage: test
#   script:
#     - make test-backend

# test_chrome_app:
#   stage: test
#   script:
#     - make test-chrome-app

test:
  stage: test
  script:
    - make test

show_test_fs:
  stage: test
  script:
   - ls chrome-react-app