version: "3.7"

services:
  zscraper-backend:
    image: zscraper-backend
    build: 
      context: ./backend
      args:
        - arch=amd64
      dockerfile: ./api/Dockerfile 
    command: [ "/root/app", "--port", "8000" ]
    networks:
      - public
      - private
    depends_on: 
      - redis

  redis:
    image: redis:6.0.1
    volumes:
      - redis_data:/data
    networks:
      - private

volumes: 
  redis_data:

networks:
  public:
  private:
