.content {
    background-color: rgb(250, 250, 250);
    width: 1080px;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px 500px;
    grid-gap: 1em;
}

.search {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
}

aside {
    grid-column: span 1;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 0.5em 1em;
}

main {
    grid-column: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0.5em 1em;
    overflow: auto;
}