.header {
    padding: 1em 2em;
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spacer {
    visibility: hidden;
}

.header > * {
    flex-grow: 2;
    text-align: center;
}

.title {
    flex-grow: 5;
}

.icon-tail {
    font-size: 28px;
    color: red;
    font-weight: bold;
}

.new-property {
    font-size: 1rem;
}

.new-property:hover {
    color: blue;
}