/* .property-list {
    padding: 1em 2em;
    overflow: scroll;
} */

.property {
    width: 100%;
    height: 3em;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.property:hover {
    background-color: lightgray;
}

.property p:hover {
    color: blue;
}

.property button {
    height: 100%;
    justify-self: center;
    width: 40px
}

.property > * + * {
    padding-left: 1em;
}

.property .favorite {
    background-color: green;
}

.property .non-favorite {
    background-color: red;
}