.property-box-general {
    display: flex;
    width: 100%;
    height: 100%;
}

.property-box-general > * {
    width: 50%;
    height: 100%;
}

.general-info {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.general-info {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    margin: .25em 1em;
}