:root {  
  box-sizing: border-box;
}

*,::before,::after {  
  box-sizing: inherit;
}

body {  
  background-color: #709b90;  
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1080px;  
  margin: 0 auto;
}